* {
    margin: 0 px;
    padding: 0 px;
    font-family: serif;
    background-image:linear-gradient(to right, rgb(188, 255, 133), rgb(70, 98, 255), rgb(197, 81, 255));
    color: rgb(129, 152, 129);
}
header,
footer {
    width: 100%;
    height: 120px;
    color:rgb(129, 252, 129);
}
h1 {
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
} 
h2 {
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    background-image:none;

}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right:auto;
}
ul,
li {
    padding-left: 40px;
    font-size: 20px;
    background:rgba(255, 255, 255, 0.75);
    color:black;
    background-image:none;
}
p {
    text-align:center;
    font-size:16px;
    color: rgb(255, 255, 255);
}
.card {
    width: 80%;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.75);
    border: 5px solid white;
    background-image:none;
}